@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


/*Padrão site*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Lexend;
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #1F2026;
}


/* scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #1F2026;
    /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #94FF92;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

/*Primeira parte*/
.background {
    background: url(../assets/img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 20px;
    width: 90%;
}
.cabecalho {
    display: flex;
    gap: 3rem;
    float: right;
    
}
.cabecalho a {
    color: white;
}
.cabecalho a:hover {
    color: #94FF92;
}
.logo a{
    color: #94FF92;
}
.informacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
}
.logo-imagen img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.inf-text {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inf-text h1 {
    color: #94FF92;
    padding-bottom: 17px;
}
.inf-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
}
.redes {
    width: 400px;
    height: 70px;
    background: #1F2026;
    border-radius: 23px;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.redes a {
    transition: transform 500ms;
}
.redes a:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.fa-redes-icon{
    padding-top: 15px;
    font-size: 38px;
}
.fa-redes-icon:hover{
    color: #94FF92;
}
.fa-instagram{
    font-size: 40px;
}
#btn-mobile {
    display: none;
    width: 50px;
}



/*Sobre*/

.titulo {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}
.titulo h1 {
    font-style: normal;
    font-size: 30px;
    color: #94FF92;

}
.sobre-conteudo {
    display: flex;
    align-items: center;
    width: 1191px;
    height: 551px;
    background: #2E2E36;
    border: 10px solid rgba(0, 0, 0, 0.514);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-bottom: 100px;
    gap: 30px;
}
.sobre-conteudo img {
    width: 250px;
    height: 350px;
    padding-left: 60px;
}
.linha {
    width: 200px;
    height: 2px;
    background: linear-gradient(to right, transparent, #94FF92);
    margin-bottom: 50px;
    border-radius: 15px;
}
.linha-sobre {
    width: 2px;
    height: 350px;
    background: linear-gradient(to top, transparent, #94FF92);
    border-radius: 20px;
}
.conteudo-sobre {
    text-align: left;
}
.conteudo-sobre h1 {
    margin-bottom: 5%;
}
.conteudo-sobre h3 {
    margin-bottom: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
}
.conteudo-sobre p {
    margin-bottom: 2%;
    min-width: 90%;
    color: #b2b2b2;
}
.conteudo-sobre p:hover {
    color: #ffffff;
    transition: all .5s;
}
.btn-cv{
   width: 200px;
   height: 60px;
   background-color: transparent;
   border-radius: 15px;
   border: 2px solid #94FF92;
   font-size: 16px;
   color: white;
   margin-top: 20px;
}
.btn-cv:hover{
    background-color: #94FF92;
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: all .9s;
}



/*Conhecimentos*/
.conhecimentos{
    background: #1A1A1D;
    width: 100%;
}
.conteudo-conhecimentos{
    display: flex;
    align-items: center;
    width: 1191px;
    height: 551px;
    background: #2E2E36;
    border: 10px solid rgba(0, 0, 0, 0.514);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-bottom: 100px;
    gap: 30px;
}
.texto-conhe{
    text-align: left;
    padding-left: 60px;
    width: 550px;
}
.texto-conhe h1{
    padding-bottom: 20px;
}
.texto-conhe p{
    color: white;
    width: 500px;
}
.linguagens{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.linguagen{
    width: 100px;
    height: 100px;
    background-color: #1F2026;
    border-radius: 10px;
    transition: transform 500ms ;
}
.fa-conhe-icon{
    padding: 27px 0;
    font-size: 40px;
}
.fa-conhe-icon:hover{
    color: #94FF92
}
.linguagen:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.hide{
    display: none;
}